body {
  background-color: #ef3e3e;
  color: white;
  font-family: sans-serif;
  padding: 20px;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pokemon-list {
  overflow-y: scroll; 
  display: grid;
  gap: 25px;
  width: 614px;
}

.pokemon-card {
  border: black 2px solid;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: black;
}
.pokemon-card img {
  width: 96px;
  height: 96px;
  padding-right: 22px;
}

.pokemon-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 275px;
}

.pokemon-detail h1 {
  font-size: 64px;
  margin-bottom: -22px;
}

.pokemon-detail img {
  margin-bottom: -22px;
}

.span {
  font-size: 57px;
}

.types {
  display: flex;
  height: 79px;
  margin-left: 137px;
}
.search-bar-container img {
  font-size: 43px;
  margin: -21px;
}

h1 {
  padding-right: 223px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 24px;
  padding-left: 22px;
  display: grid;
  justify-content: center;
  margin-bottom: -39px;
}

.types {
  display: flex;
  margin: 0;
  gap: 60px;
}

.evolution-container {
  width: 654px;
}

.evolutions {
  display: grid;
}

input {
  margin-left: 36px;
  height: 62px;
  width: 532px;
  font-size: 37px;
  background-color: #b62f2f;
}

span {
  font-size: 51px;
}
